* {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
}
body {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.VbqNX_bzyT9M9B4oVfRK6AHaFj%26pid%3DApi&f=1');
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 900px;
  color: fuchsia;
}
a {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  border: 1px black solid;
  border-radius: 25px;
  font-size: 15px;
  padding: 2px;
  background-color: white;
  color: fuchsia;
  font-weight: 400;
}
#startGame {
  border: 1px black solid;
  border-radius: 25px;
  font-size: 15px;
  padding: 2px;
  background-color: white;
  color: fuchsia;
  font-weight: 400;
  width: 85px;
}
.fullBoard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
.card {
  border: 3px solid black;
  height: 225px;
  width: 150px;
  padding: 5px;
  margin-bottom: 20px;
}
